@charset "UTF-8";
@import url(./fonts.css);
@import url("./import.css");
@import url("https://cdn-uicons.flaticon.com/uicons-solid-rounded/css/uicons-solid-rounded.css");
.caché {
  opacity: 0;
}
.caché #btn {
  cursor: var(--cursor);
}

html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  cursor: var(--cursor);
}
html * {
  transition: opacity 0.3s ease;
}
html body {
  margin: 0 0 0 0;
  padding: 0;
}
html body #laby {
  background-image: url("../images/png/interieur-grotte.png");
  min-width: 100vw;
  max-width: 100vw;
  min-height: 100vh;
  max-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  position: relative;
  display: flex;
  flex-flow: wrap column;
  justify-content: center;
  align-items: center;
}
html body #laby h1 {
  font-family: "Titres";
  text-align: center;
  text-transform: uppercase;
  font-size: 3rem;
  margin-top: 0;
  color: rgb(226, 242, 247);
}
html body #laby article h3 {
  color: #1a1e4a;
}
html body #laby article i {
  color: #1a1e4a;
}
html body #laby article::before {
  content: "";
  position: absolute;
  border-left: 20px solid rgb(255, 255, 255);
  border-right: 20px solid transparent;
  border-top: 20px solid rgb(255, 255, 255);
  border-bottom: 20px solid transparent;
  left: -20px;
  bottom: 10px;
  rotate: 180deg;
}
html body #laby div {
  position: absolute;
  display: flex;
  flex-flow: wrap column;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease;
}
html body #laby div h2 {
  font-family: "Titres";
  text-align: center;
  text-transform: uppercase;
  font-size: 5rem;
  color: #0f4163;
}
html body #laby div button {
  font-family: "Titres";
  text-align: center;
  text-transform: uppercase;
  border: none;
  font-size: 2rem;
  padding: 5%;
  border-radius: 10px;
  color: whitesmoke;
  cursor: var(--cursorPointer);
  background-color: #0f4163;
  transition: transform 0.2s ease;
}
html body #laby div button:hover {
  background-color: #0c344f;
  transform: scale(1.05);
}
html body #laby #romain {
  height: 50vh;
  margin: 40vh 0 0 -60vw;
  position: absolute;
}
html body #laby canvas {
  width: 60vh;
  height: 60vh;
  background-color: #fff;
  border-radius: 15px;
  border-bottom: 10px solid #58b3f4;
}
html body #laby #controls {
  z-index: 5;
  display: grid;
  grid-template-rows: 35px 35px;
  grid-template-columns: 35px 35px;
  align-items: stretch;
  font-size: 30px;
  height: 20vh;
  right: 10vw;
  position: absolute;
}
html body #laby #controls #haut {
  grid-row: 1/3;
  grid-column: 2/3;
}
html body #laby #controls #gauche {
  grid-row: 2/3;
  grid-column: 1/3;
}
html body #laby #controls #droite {
  grid-row: 2/3;
  grid-column: 3/3;
}
html body #laby #controls #bas {
  grid-row: 3/3;
  grid-column: 2/3;
}

@media only screen and (min-width: 1200px) {
  html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    cursor: var(--cursor);
  }
  html * {
    transition: opacity 0.3s ease;
  }
  html body {
    margin: 0 0 0 0;
    padding: 0;
  }
  html body #laby {
    background-image: url("../images/png/interieur-grotte.png");
    min-width: 100vw;
    max-width: 100vw;
    min-height: 100vh;
    max-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    position: relative;
    display: flex;
    flex-flow: wrap column;
    justify-content: center;
    align-items: center;
  }
  html body #laby h1 {
    font-family: "Titres";
    text-align: center;
    text-transform: uppercase;
    font-size: 3rem;
    margin-top: 0;
    color: rgb(226, 242, 247);
  }
  html body #laby article h3 {
    color: #1a1e4a;
  }
  html body #laby article i {
    color: #1a1e4a;
    font-size: 2rem;
  }
  html body #laby article::before {
    content: "";
    position: absolute;
    border-left: 20px solid rgb(255, 255, 255);
    border-right: 20px solid transparent;
    border-top: 20px solid rgb(255, 255, 255);
    border-bottom: 20px solid transparent;
    left: -20px;
    bottom: 10px;
    rotate: 180deg;
  }
  html body #laby div {
    position: absolute;
    display: flex;
    flex-flow: wrap column;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease;
  }
  html body #laby div h2 {
    font-family: "Titres";
    text-align: center;
    text-transform: uppercase;
    font-size: 5rem;
    color: #0f4163;
  }
  html body #laby div button {
    font-family: "Titres";
    text-align: center;
    text-transform: uppercase;
    border: none;
    font-size: 2rem;
    padding: 5%;
    border-radius: 10px;
    color: whitesmoke;
    cursor: var(--cursorPointer);
    background-color: #0f4163;
    transition: transform 0.2s ease;
  }
  html body #laby div button:hover {
    background-color: #0c344f;
    transform: scale(1.05);
  }
  html body #laby #romain {
    height: 50vh;
    margin: 40vh 0 0 -60vw;
    position: absolute;
  }
  html body #laby canvas {
    width: 60vh;
    height: 60vh;
    background-color: #fff;
    border-radius: 15px;
    border-bottom: 10px solid #58b3f4;
  }
  html body #laby #controls {
    display: none;
  }
}
@media only screen and (min-width: 1600px) {
  html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  html body {
    margin: -21px 0 0 0;
    padding: 0;
  }
  html body #laby h1 {
    font-family: "Titres";
    text-align: center;
    text-transform: uppercase;
    font-size: 3rem;
    padding-top: 70px;
    color: rgb(226, 242, 247);
  }
  html body #laby #retour {
    font-family: "Titres";
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 2rem;
    padding: 1%;
    border-radius: 10px;
    cursor: var(--cursorPointer);
    color: whitesmoke;
    border: none;
    background-color: #918e8e;
    position: absolute;
    top: 25px;
    left: 25px;
    transition: transform 0.2s ease;
  }
  html body #laby #retour:hover {
    background-color: #7c7979;
    transform: scale(1.05);
  }
  html body #laby div {
    position: absolute;
    display: flex;
    flex-flow: wrap column;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease;
  }
  html body #laby div h2 {
    font-family: "Titres";
    text-align: center;
    text-transform: uppercase;
    font-size: 5rem;
    color: #0f4163;
  }
  html body #laby div button {
    font-family: "Titres";
    text-align: center;
    text-transform: uppercase;
    border: none;
    font-size: 2rem;
    padding: 5%;
    border-radius: 10px;
    color: whitesmoke;
    cursor: var(--cursorPointer);
    background-color: #0f4163;
    transition: transform 0.2s ease;
  }
  html body #laby div button:hover {
    background-color: #0c344f;
    transform: scale(1.05);
  }
  html body #laby #romain {
    height: 400px;
    margin: -25vh 0 0 -60vw;
  }
  html body #laby canvas {
    width: 500px;
    height: 500px;
    background-color: #fff;
    border-radius: 15px;
    border-bottom: 10px solid #58b3f4;
  }
}/*# sourceMappingURL=main-laby.css.map */