@import url('./import.css');

@mixin Police{
    font-family : 'Titres';
    text-align: center;
    text-transform: uppercase;
}

$princip : #591023;
$second : #e82b2f;

html, body{
    margin: 0px;
    min-height: 100vh;
    min-width: 100vw;
    max-height: 100vh;
    max-width: 100vw;

    background-image: url(./../images/png/8-back.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    overflow: hidden;

    cursor: var(--cursor); 
}

main{

    h1{
        @include Police();
        color: rgb(255, 230, 230);
        font-size:  2rem;
        padding-top: 50px;
        margin: 0;
        pointer-events: none;
    }

    .bulle{
        z-index: 8;
        left: 35%;
        bottom: 10vw;
        width: fit-content;

        h3{
            color: $second;
        }

        #preced{
            color: $second;
        }

        #suivant{
            color: $princip;
            // font-size: 2em;
        }
    }

    #nico{

        height: 50vh;
        position: absolute;
        bottom: 0;
        right: 15%;
        pointer-events: none;
    }
}
