@import url('./import.css');

html, body{
    margin: 0px;
    height: 100vh;
    width: 100vw;

    background-image: url(./../images/png/2-back.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    overflow: hidden;

    cursor: var(--cursor); 
}

h1{
    text-align: center;
    color: white;
}

#bulle4 {
    height: 200px;
    justify-content: space-between;
    background-color: transparent;
    border: none;
}
.act-coloriages, .act-creation{
    width: 150px;
    background-color: #1e361c;
    border-radius: 12px;
}
.img{
    width: 150px;
    height: 200px;
}
h4{
    text-align: center;
    bottom: 0;
    color: white;
}
