@font-face {
    font-family: 'Titres';
    src: url('../../fonts/caveatbrush-regular-webfont.woff2') format('woff2'),
         url('../../fonts/caveatbrush-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html{
    margin: 0;
    padding: 0;
    body{
        margin: -21px 0 0 0;
        padding: 0;
        #laby{
            background-image: url('../../images/png/SAE301-lieu-grotte.png');
            min-width: 100vw;
            min-height: 100vh;
            background-size: cover;
            margin: 0;
            position: relative;
        }
        h1{
            font-family : 'Titres';
            font-size: 3rem;
            position: absolute;
            text-align: center;
            text-transform: uppercase;
            padding: 70px;
            $Swidth: 100vw;
            margin-left: ($Swidth / 2) - 18;
            color: rgb(226, 242, 247);
        }
        .img{
            height: 250px;
            position: absolute;
            // margin-top: 420px;
            bottom: 10px;
            margin-left: 250px;
        }
        canvas{
            margin-left: 505px;
            bottom: 170px;
        }
    }
}