
:root{
    --blue1: #00072D;
    --blue2: #00043A;
    --blue3: #03045E;
    --blue4: #001F54;
    --blue5: #21295C;
    --blue6: #EDF2FB;
    --blue7: #E2FDFF;
    --blue8: #A6E1FA;
    --blue9: #90E0EF;
    --blue10: #5ADBFF;
    --blue11: #00B4D8;
}