/* 

font-weight: 100; ----- Thin (Hairline)
font-weight: 200; ----- Extra Light (Ultra Light)
font-weight: 300; ----- Light
font-weight: 400; ----- Normal
font-weight: 500; ----- Medium
font-weight: 600; ----- Semi Bold
font-weight: 700; ----- Bold
font-weight: 800; ----- Extra Bold (Ultra Bold)
font-weight: 900; ----- Black (Heavy)
font-weight: 950; ----- Extra Black (Ultra Black)

*/
