@font-face {
    font-family: "Titres";
    src: url("./../../communs/fonts/HVD_Comic_Serif_Pro/HVD_Comic_Serif_Pro.woff2") format("woff2"),
           url("./../../communs/fonts/HVD_Comic_Serif_Pro/HVD_Comic_Serif_Pro.woff") format("woff");
    font-weight: 300;
}

/* @font-face {

} */